<h1>count: {{count}}</h1>
<div class="container">
<div class="card-deck">
<div class="row">
    <div *ngFor="let usr of users['arr']">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{usr.avatar}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{usr.first_name}}</h5>
                <h6>email: {{usr.email}}</h6>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
        </div>
    </div>
</div>
</div>
</div>